.teste{
  
}
.divPai{
display: flex;

}

.div1{
    background-color: purple;   
}

.divH1{
    display: flex;
}

.div2{
    background-color:pink;
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 50%;
    border: solid purple 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1{
    margin-left: 10px;
    color: white;
}


